################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASPNETMVC-ex/.vs/ASPNETMVC-ex
/ASPNETMVC-ex/ASPNETMVC-ex/bin
/ASPNETMVC-ex/ASPNETMVC-ex/obj/Debug
/ASPNETMVC-ex/packages
