@model ASPNETMVC_ex.Models.MessageViewModel

<div class="card mb-3">
    <div class="card-header @Model.CssClass">
        <b>@Model.Title</b>
    </div>
    <div class="card-body p-3">
        @Model.Message
    </div>
</div>