@{
    ViewBag.Title = "Dry UI";
}

@section head {
    <link href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css"
          rel="stylesheet" type="text/css" media="all">
}




<div class="p-4">

@MyHelpers.ActionButton("Button 1", "Description of first button",
    "buttonex-1", "mdi-comment-text", "Action1", Url)
@MyHelpers.ActionButton("Button 2", "Description of second button",
    "buttonex-2", "mdi-email-plus-outline", "Action2", Url)
@MyHelpers.ActionButton("Button 3", "Description of third button",
    "buttonex-3", "mdi-hexagon-slice-4", "Action3", Url)

</div>


<p class="text-muted mt-3">
    Icons are from <a href="http://materialdesignicons.com/">Material Design Icons</a>.
</p>
