@{
    ViewBag.Title = "Dry UI";
}


<a href="#" class="button">Action 1</a>
<a href="#" class="button">Action 2</a>
<a href="#" class="button button3">Action 3</a>

<a href="#" class="button button4">Default Action</a>
