
<style type="text/css">
    .outline {
        border-color: #222222;
        border-width: 1px;
        border-style: solid;
    }
</style>


<div class="row">
    <div class="outline text-center col-12">
        <pre>&#64;Html.Partial("_MenuBar")</pre>
    </div>
</div>
<div class="row">
    <div class="outline col-4" style="height:200px;">
        <pre>&#64;Html.Partial("_SideBar")</pre>
    </div>
    <div class="outline col-8">
        <pre>RenderBody()</pre>
    </div>
</div>
<div class="row">
    <div class="outline col-12">
        <pre>&#64;Html.Partial("_Footer")</pre>
    </div>
</div>


